version: "3.9"

services:
  app:
    build: .
    container_name: node_ffmpeg_dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    restart: unless-stopped
